.clock {
    display: flex;
    justify-content: center;
    align-items: top;
    color: red;
    font-size: 60px;
    text-shadow: 4px 4px 4px orange, 10px 10px 10px red;
    /* text-shadow: 2px 2px 10px red; */
    flex-direction: row;
    align-self: center;
    height: 100%;
    width: 100%;
}

